  <!-- 页脚 -->
  <div class="well footer">
    <div class="container">
      <p>版权所有&nbsp;&nbsp;mityburner</p>
    </div>
  </div>
  <script scr="js/jquery-2.1.js" type="text/javascript"></script>
  <script scr="js/bootstrap.js" type="text/javascript"></script>
</body>
</html>